.form
	.input
		padding 6px 12px
		height 50px
		color #666
		font-size 18px
		font-weight 100
		font-family "Open Sans"
		box-sizing border-box
		border 1px solid border
		transition all .1s
		&:hover, &:focus
			border-color border--focus

		&--task
			display block
			margin 20px 0 10px
			width 100%

		&--calendar
			float left
			width 60%
			height 35px
			font-family "Open Sans"
			font-size 14px

		&--flash
			color white
			background-color red;

	.button
		float right
		display inline-block
		padding 0
		width 30%
		height 35px
		border 1px solid border
		cursor pointer
		font-family "Open Sans"
